# Postgre SQL (Sructured Query Language)

## Content
* [Postgre SQL installation](#Postgre-SQL-installation)
* [main dtypes in SQL](#main-dtypes-in-SQL)
* [how to delete database connection before db deleteting with Query Tool](#how-to-delete-database-connection-before-db-deleteting-with-Query-Tool)
* [how to create and delete db](#how-to-create-and-delete-db)
* [how to add tables to db with Query Tool](#how-to-add-tables-to-db-with-Query-Tool)
* [how to add a new info in table with Query Tool](#how-to-add-a-new-info-in-table-with-Query-Tool)
* [how to add a new info by another table columns with Query Tool](#how-to-add-a-new-info-by-another-table-columns-with-Query-Tool)
* [one to one and one to many relation](#one-to-one-and-one-to-many-relation)
* [many to many relation](#many-to-many-relation)
* QUERIES
    * [SELECT](#SELECT)
    * [DISTINCT](#DISTINCT)
    * [COUNT](#COUNT)
    * [WHERE](#WHERE)
    * [AND\OR](#AND\OR)
    * [BETWEEN](#BETWEEN)
    * [IN & NOT IN](#IN-&-NOT-IN)
    * [ORDER BY](#ORDER-BY)
    * [MIN, MAX, AVG](#MIN,-MAX,-AVG)
    * [LIKE](#LIKE)
    * [LIMIT](#LIMIT)
    * [check on NULL](#check-on-NULL)
    * [GROUP BY](#GROUP-BY)
    * [HAVING](#HAVING)
    * [UNION, INTERSECT, EXCEPT](#UNION,-INTERSECT,-EXCEPT)
    * [INNER JOIN](#INNER-JOIN)
    * [LEFT, RIGHT JOIN](#LEFT,-RIGHT-JOIN)
    * [SELF JOIN](#SELF-JOIN)
    * [USING AND NATURAL JOIN](#USING-AND-NATURAL-JOIN)
    * [AS](#AS)
    * [SUBQUERIES](#SUBQUERIES)
* [Data Definition Language (DDL)](#Data-Definition-Language-(DDL))
    * [PRIMARY KEY](#PRIMARY-KEY)
    * [FOREIGN KEY](#FOREIGN-KEY)
    * [CHECK](#CHECK)
    * [DEFAULT](#DEFAULT)
    * [SEQUENCES](#SEQUENCES)
    * [SEQUENCES & TABLES](#SEQUENCES-&-TABLES)
    * [INSERT](#INSERT)
    * [UPDATE, DELETE, RETURNING](#UPDATE,-DELETE,-RETURNING)
* [Connection to Postgre SQL db](#Connection-to-Postgre-SQL-db)

## Postgre SQL installation

link for installation instruction https://www.enterprisedb.com/docs/supported-open-source/postgresql/installer/02_installing_postgresql_with_the_graphical_installation_wizard/01_invoking_the_graphical_installer/

[to start page](#Content)

## main dtypes in SQL:
* numeric types https://www.postgresql.org/docs/current/datatype-numeric.html#DATATYPE-NUMERIC-TABLE
* character types https://www.postgresql.org/docs/current/datatype-character.html
* date/time types https://www.postgresql.org/docs/current/datatype-datetime.html
* boolean types https://www.postgresql.org/docs/current/datatype-boolean.html
* enumerated types https://www.postgresql.org/docs/current/datatype-enum.html

[to start page](#Content)

## how to delete database connection before db deleteting with Query Tool

    SELECT pg_terminate_backend(pg_stat_activity.pid)
    FROM pg_stat_activity
    WHERE pg_stat_activity.datname= 'testdb'
        AND pid <> pg_backend_pid()
       

[to start page](#Content)

## how to create and delete db

    CREATE DATABASE db name
    
    DROP DATABASE db name
    
    if you want to set db params:
    
        CREATE DATABASE testdb
        WITH
        OWNER = postgres
        ENCODING = 'UTF8'
        CONNECTION LIMIT = -1;
        
[to start page](#Content)

## how to add tables to db with Query Tool

    CREATE TABLE publisher
    (
        col_name(like table name with _id) integer PRIMARY KEY,
        col_name varchar(128) NOT NULL,
        col_name text NOT NULL,
        
    )
    
[to start page](#Content)

## how to add a new info in table with Query Tool
    INSERT INTO table_name
    VALUES
    (add info in row according to columns - 1, 'text', 'text'),
    (next rows .......)
    
[to start page](#Content)

## how to add a new info by another table columns with Query Tool
    ALTER TABLE table_1
    ADD COLUMN col_name_1; # table_1;
    
    ALTER TABLE table_1
    ADD CONSTRAINT col_name # table_2 
    FOREING KEY(col_name_1) REFERENCES table_2(col_name table_2)
    
    ----------------------------------------------------------------- # when the new table creating
    CREATE TABLE table_name
    (
        col_1_name integer PRIMARY KEY,
        col_2_name text NOT NULL,
        col_3_name varchar(32) NOT NULL,
        clo_4_name integer REFERENCES table_2(col_name) NOT NULL
    )
    
[to start page](#Content)

## one to one and one to many relation
    we have to add the column with specific id from another table and use a code like this
    
    CREATE TABLE table_name
    (
        col_1_name integer PRIMARY KEY,
        col_2_name text NOT NULL,
        col_3_name varchar(32) NOT NULL,
        clo_4_name integer REFERENCES table_2(col_name) NOT NULL
    )
    
[to start page](#Content)

## many to many relation
    we have to add the column with two specific ids from first and second tables
    
    CREATE TABLE table
    (
        book_id int REFERENCES book(book_id),
        author_id int REFERENCES author(author_id),
        
        CONSTRAINT pk_book_author PRIMARY KEY (book_id, author_id) # composite key
    )
    
[to start page](#Content)

## SELECT

    SELECT * FROM table
    SELECT col_name, col_name FROM table
    SELEC col_name (*, /, +, -) col_name FROM table (to do mathematical actions)

[to start page](#Content)

## DISTINCT

    SELECT DISTINCT col_name FROM table
    SELECT DISTINCT col_name, col_name FROM table (for several columns)
    
[to start page](#Content)

## COUNT

    SELECT COUNT(*) FROM table
    SELECT COUNT(col name) FROM table
    SELECT COUNT(DISTINCT col name) FROM table

[to start page](#Content)

## WHERE

    SELECT col name, col name (*) FROM table WHERE col name = 'value'
    SELECT name, surname FROM people_table WHERE age = 30
    SELECT col name, col name FROM table WHERE date = '2022-04-21' (for dates it needs to use '')

[to start page](#Content)

## AND\OR

    SELECT * FROM table WHERE condition1 AND condition2 (condition = it's col name (=, <>, !=, >, <) parameter) 
    SELECT * FROM table WHERE condition1 OR condition2 
    
    for examle:
    SELECT name FROM people WHERE name = 'Bohdan' OR name = 'Oksana'
    SELECT name, surname FROM people WHERE name = 'Bohdan' AND surname = 'Saienchuk'
    SELECT date, name FROM people WHERE date > '1991-01-30' AND (name = 'Bohdan' OR name = 'Oksana')

[to start page](#Content)

## BETWEEN

    оператор BEETWEEN використовуємо для фільтрації проміжків і дані проміжки включені в результуючий звіт запиту
    тобто
    
    SELECT * FROM table WHERE col name >= 20 AND col name <= 40 
    is equal to 
    SELECT * FROM table WHERE col name BETWEEN 20 AND 40

[to start page](#Content)

## IN & NOT IN

    SELECT * FROM table WHERE col name IN ('param 1', 'param 2', '..', ...)
    
    for example 
    SELECT * FROM name WHERE name IN ('Bohdan', 'Oksana')
    SELECT * FROM name WHERE name NOT IN ('Bohdan', 'Oksana')

[to start page](#Content)

## ORDER BY

    для сортування даних по ASC and DESC (ASC по замовчуванню) 
    використовується після FROM та WHERE, якщо WHERE існує
    
    SELECT * FROM table WHERE col name = '...' ORDER BY col name
    SELECT * FROM table WHERE col name = '...' ORDER BY col name DESC
    SELECT * FROM table ORDER BY col name ASC, col name DESC (тобто сортувати два (скільки потрібно) стовпчики відразу)

[to start page](#Content)

## MIN, MAX, AVG

* also SUM<br>

        SELECT MIN(col name) FROM table
        SELECT MAX(col name) FROM table
        SELECT AVG(col name) FROM table
    
        SELECT SUM(col name) FROM table

[to start page](#Content)

## LIKE

    % - placeholder, який означає будь-яку кількість знаків в послідовності
    _ - означає рівно один знак
    
    LIKE 'U%' - строки, які починаються на U
    LIKE '%a' - строки, які закінчуються на a
    LIKE '%John%' - строки, які містять John
    LIKE 'J%n' - строки, які починаються на J та закінчуються на n
    LIKE '_on_' - строки, де 2, 3 символи - oh, а перший та останній будь які
    
    SELECT name FROM people WHERE name LIKE '%n'
    

[to start page](#Content)

## LIMIT

    завжди ставити самим останнім
    
    SELECT * FROM table LIMIT 10

[to start page](#Content)

## check on NULL

    SELECT * FROM table WHERE col name IS NULL
    SELECT * FROM table WHERE col name IS NOT NULL

[to start page](#Content)

## GROUP BY

    SELECT col name, COUNT(*) FROM table GROUP BY COUNT(*)
    SELECT col name, SUM(col name) FROM table GROUP BY SUM(col name)

[to start page](#Content)

## HAVING

    postfilter - використовується для додаткового фільтрування, якщо WHERE вже застосований
    
    SELECT * FROM table WHERE col name > 10 HAVING col name = 'name'

[to start page](#Content)

## UNION, INTERSECT, EXCEPT

    UNION - об'єднання даних з різних таблиць
    INTERSECT - об'єдання даних, які є спільними для двох таблиць
    EXCEPT - об'єднання даних, при якому в звіт потраплять дані, за виключенням повторів з другої таблиці

[to start page](#Content)

## INNER JOIN

    тип об'єднання, при якому з лівої таблиці в звіт потраплять тальки ті строки, які є в правій таблиці
    
    SELECT * FROM table_1 JOIN (INNER JOIN) table_2 ON table_1.col_name = table_2.col_name

[to start page](#Content)

## LEFT, RIGHT JOIN

    LEFT - тип об'єдання, при якому в звіт потраплять всі строки з лівої таблиці та відповідні ним з правої, а дані, яких немає в правій будуть як NULL
    RIGHT - тип об'єдання, при якому в звіт потраплять всі строки з правої таблиці та відповідні ним з лівої, а якщо в лівій немає даних, то вони не потраплять в звіт
    CROSS JOIN - коли всім строкам з лівої таблиці підставляються всі строки з правої (виникають повторення)
    
    SELECT * FROM table_1 LEFT JOIN table_2 ON table_1.col_name = table_2.col_name
    
[to start page](#Content)

## SELF JOIN

    тип з'єднання, при якому таблиця зливається сама з собою (приклад з таблицею працівників, де менеджер працівника може бути самим працівником)

[to start page](#Content)

## USING AND NATURAL JOIN

    якщо ключі в таблицях мають однакові назви, в даному випадку можна використовувати USING,
    
    SELECT col_name FROM table_1 JOIN table_2 USING(col_name_id) -> col_name_id однаковий для обох таблиць і має однакові назви
    
    NATURAL JOIN -> краще не використовувати, 
    
    SELCT col_name_1, col_name_2 FROM table_1 NATURAL JOIN table_2 -> код коротший, але можуть виникати неправильні звіти

[to start page](#Content)

## AS

    логіка виконання запросу - спочатку відпрацьовує WHERE, потім SELECT FROM, потім GROUP BY та ORDER BY, тому стовпчик з псевдонімом не можна використовувати в фільтрах WHERE, HAVING (тільки як стовпчик калькуляції)
    
    AS можна використовувати в підзапитах
    
    AS - призначення псевдонімів,
    
    SELECT COUNT(col_name) AS new_col_name FROM table

[to start page](#Content)

## SUBQUERIES

    SELECT * FROM table WHERE col_name > (SELECT AVG(col_name) FROM table) -> як приклад, запит в запиті, 
                                                                              який використовується для фільтрації
                                                                              
    WHERE EXISTS -> запит поверне звіт, якщо по заданих умовах є більше, ніж 1 строка, якщо строк 0, то звіту не буде
    
    також є форма NOT EXISTS (якщо навпаки потрібні дані, які не відповідають умовам)
    
    SELECT company_name, contact_name FROM customers 
                                      WHERE EXISTS (SELECT customer_id FROM orders WHERE customer_id = customer.customer_id
                                                    AND order_date BETWEEN 50 AND 100) -> як реальний приклад
    
    квантифікатори ANY, ALL -> використовуються в підзапитах для застосування умови фільтру до будь якого або всіх значень

[to start page](#Content)

## Data Definition Language (DDL)

    main commands:
    
        CREATE DATABASE db_name
        DROP DATABASE db_name
        
        CREATE TABLE table_name
        (
            col_name dtype PRIMARY KEY,
            col_name dtype NOT NULL,
            col_name dtype NOT NULL
        )
        
        DROP TABLE table_name
        
        INSERT INTO table_name
        VALUES
        (some data, some data, some data),
        (some date, some data, some data)
        
        ALTER TABLE table_name RENAME TO new_table_name
        
        ALTER TABLE table_name RENAME col_name TO new_col_name
        
        ALTER TABLE table_name ADD COLUMN col_name dtype
        
        ALTER TABLE table_name DROP COLUMN col_name
        
        ALTER TABLE table_name ALTER COLUMN col_name SET DATA TYPE dtype(serial, int, varchar, date, text and other)
        
        TRUNCATE TABLE table_name RESTART IDENTITY
        
        

[to start page](#Content)

## PRIMARY KEY

    ALTER TABLE table_name ADD CONSTRAINT constraint_name
    
    ALTER TABLE table_name DROP CONSTRAINT constraint_name
    
    CREATE TABLE table_name 
    (
        col_name serial PRIMARY KEY,
        col_name dtype,
        ...
    )
    
    CREATE TABLE table_name 
    (
        col_name serial UNIQUE NOT NULL,
        col_name dtype,
        ...
    )
    
    other syntax:
    
    CREATE TABLE table_name
    (
        col_name serial NOT NULL,
        col_name text NOT NULL,
        CONSTRAINT pk_table_name_id PRIMARY KEY(col_name_id)
    )
    
    
[to start page](#Content)

## FOREIGN KEY

    наприклад, ми маємо дві таблиці table_1, table_2, і в таблицю table_2 ми хочемо додати FOREIGN KEY по одному із стовпчиків
    table_1
    
    CREATE TABLE table_1
    (
        col_name_id int PRIMARY KEY,
        col_name text
    )
    
    CREATE TABLE table_2
    (
        col_name_id int PRIMARY KEY,
        col_name text,
        col_name_fk (по table_1)
    )
    
    ALTER TABLE table_2
    ADD CONSTRAINT fk_col_name FOREIGN KEY(col_name_id) REFERENCES table_1(col_name_id)

[to start page](#Content)

## CHECK

    логічне обмеження, наприклад, на колонку з ціною, що ціна не може бути меншою за нуль і т.і.
    
    для створеної таблиці додати логічне обмеження:
    
    ALTER TABLE table_name
    ADD CONSTRAINT chk_col_name CHECK(col_name > 0)

[to start page](#Content)

## DEFAULT

    коли створюємо таблицю, ми можемо встановити дані, які будуть додаватися за замовчуванням в певну колонку, 
    позначену, як DEFAULT
    
    CREATE TABLE table_name
    (
        col_name_id serial,
        col_name text,
        col_name text DEFAULT 'some text',
        
        CONSTRAINT pk_col_name PRIMARY KEY(col_name_id),
        CONSTRAINT chk_col_name CHECK (col_name = 'text' OR col_name = 'text')
    )
    
    INSERT INTO table_name
    VALUES
    ('some text')
    
    ALTER TABLE table_name ALTER COLUMN col_name DROP DEFAULT

[to start page](#Content)

## SEQUENCES

        CREATE SEQUENCES seq1;
        
        SELECT nextval('seq1');
        SELECT currval('seq1');
        SELECT lastval('seq1');
        
        SELECT setval('seq1', 16, (True or False));
        SELECT currval('seq1');
        SELECT nextval('seq1');
        
        CREATE SEQUENCES IF NOT EXISTS seq2 INCREMENT 16 MINVALUE 0 MAXVALUE 128 START WITH 0;
        
        ALTER SEQUENCES seq2 RENAME TO seq3;
        
        ALTER SEQUENCES seq2 RESTART WITH 0;
        
        DROP SEQUENCES seq2

[to start page](#Content)

## SEQUENCES & TABLES

    CREATE SEQUENCES IF NOT EXISTS table_name_col_name START WITH 1 OWNED BY table_name.col_name;
    
    ALTER TABLE table name ALTER COLUMN col_name SET DEFAULT nextval('seq_name')
    
    новий синтаксис з 10 версії PostgreSQL -> 
    
    CREATE TABLE table_name
    (
        col_name_id int GENERATED ALWAYS AS IDENTITY NOT NULL,
        ..., ..., ...
    )
    
        CREATE TABLE table_name
    (
        col_name_id int GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 2) NOT NULL,
        ..., ..., ...
    )


[to start page](#Content)

## INSERT

    якщо потрібно вставити дані в кокретний стовпчик або стовпчики
    
    INSERT INTO table name (col_name, col_name, ...)
    VALUES
    ('values', 'values', ...)
    
    створення таблиці відразу при виборі даних з іншої таблиці
    
    SELECT * INTO table_name FROM other_table WHERE col_name = condition
    
    додати дані до вже існуючої таблиці
    
    INSERT INTO table_name SELECT * FROM other_table WHERE col_name = condition

[to start page](#Content)

## UPDATE, DELETE, RETURNING

    UPDATE table_name SET col_name = 'values', col_name = 'values' WHERE col_name_id = 'values';
    
    DELETE FROM table_name WHERE col_name = condition;
    
    DELETE FROM table_name (delete all rows);
    
    INSERT INTO table_name (col_name, col_name) VALUES ('values', 'values') RETURNING * -> поверне тільки що вставлені дані

[to start page](#Content)

## Connection to Postgre SQL db

    conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/human_resources'
    
    postgresql - діалект мови SQL, в даному випадку Postgre SQL
    
    psycopg2 - драйвер, який використовується для підключення до бази даних
    
    readonly - ім'я користувача
    
    6hajV34RTQfmxhS - пароль підключення до бд
    
    @dsstudents.skillbox.ru - адреса, за якою розміщена бд
    
    5432 - порт, на якому розміщена бд
    
    human_resources - назва бд
    

[to start page](#Content)

## DISTINCT

    

[to start page](#Content)

In [4]:
?zip